.navlinks {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.navlinks.active::before,
.navlinks:hover::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 5px;
    bottom: 0;
    border-bottom: 3px solid #fffffe;
}