/* font roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.main-component {
  min-height: 100vh;
}

.primary-text {
  color: #3da9fc;
}

.secondary-text {
  color: #ef4565;
}

.dark-text {
  color: #094067;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #094067;
}

p {
  color: #5f6c7b;
}

.primary-btn {
  background-color: #ef4565;
  border: none;
  transition: 0.3s;
}

.primary-btn:hover {
  background-color: #cf3450;
}

.secondary-btn {
  background-color: #3da9fc;
  border: none;
  transition: 0.3s;
}

.secondary-btn:hover {
  background-color: #1495f8;
}

.p-secondary {
  color: #90b4ce;
}

.light-bg {
  background-color: #3da9fc;
}

.dark-bg {
  background-color: #094067;
}

button:hover {
  box-shadow: 3px 3px 6px gray;
}

.component-headings {
  display: inline-block;
  font-weight: 600;
  position: relative;
}

.component-headings::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 5px;
  bottom: 0;
  border-bottom: 4px solid #ef4565;
}